<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[微笑]</key>
	<string>emoji_1</string>
	<key>[撇嘴]</key>
	<string>emoji_2</string>
	<key>[色]</key>
	<string>emoji_3</string>
	<key>[发呆]</key>
	<string>emoji_4</string>
	<key>[得意]</key>
	<string>emoji_5</string>
	<key>[流泪]</key>
	<string>emoji_6</string>
	<key>[害羞]</key>
	<string>emoji_7</string>
	<key>[闭嘴]</key>
	<string>emoji_8</string>
	<key>[睡]</key>
	<string>emoji_9</string>
	<key>[大哭]</key>
	<string>emoji_10</string>
	<key>[尴尬]</key>
	<string>emoji_11</string>
	<key>[发怒]</key>
	<string>emoji_12</string>
	<key>[调皮]</key>
	<string>emoji_13</string>
	<key>[呲牙]</key>
	<string>emoji_14</string>
	<key>[惊讶]</key>
	<string>emoji_15</string>
	<key>[难过]</key>
	<string>emoji_16</string>
	<key>[酷]</key>
	<string>emoji_17</string>
	<key>[冷汗]</key>
	<string>emoji_18</string>
	<key>[抓狂]</key>
	<string>emoji_19</string>
	<key>[吐]</key>
	<string>emoji_20</string>
	<key>[偷笑]</key>
	<string>emoji_21</string>
	<key>[愉快]</key>
	<string>emoji_22</string>
	<key>[白眼]</key>
	<string>emoji_23</string>
	<key>[傲慢]</key>
	<string>emoji_24</string>
	<key>[饥饿]</key>
	<string>emoji_25</string>
	<key>[困]</key>
	<string>emoji_26</string>
	<key>[惊恐]</key>
	<string>emoji_27</string>
	<key>[流汗]</key>
	<string>emoji_28</string>
	<key>[憨笑]</key>
	<string>emoji_29</string>
	<key>[悠闲]</key>
	<string>emoji_30</string>
	<key>[奋斗]</key>
	<string>emoji_31</string>
	<key>[咒骂]</key>
	<string>emoji_32</string>
	<key>[疑问]</key>
	<string>emoji_33</string>
	<key>[嘘]</key>
	<string>emoji_34</string>
	<key>[晕]</key>
	<string>emoji_35</string>
	<key>[疯了]</key>
	<string>emoji_36</string>
	<key>[衰]</key>
	<string>emoji_37</string>
	<key>[骷髅]</key>
	<string>emoji_38</string>
	<key>[敲打]</key>
	<string>emoji_39</string>
	<key>[再见]</key>
	<string>emoji_40</string>
	<key>[擦汗]</key>
	<string>emoji_41</string>
	<key>[抠鼻]</key>
	<string>emoji_42</string>
	<key>[鼓掌]</key>
	<string>emoji_43</string>
	<key>[糗大了]</key>
	<string>emoji_44</string>
	<key>[坏笑]</key>
	<string>emoji_45</string>
	<key>[左哼哼]</key>
	<string>emoji_46</string>
	<key>[右哼哼]</key>
	<string>emoji_47</string>
	<key>[哈欠]</key>
	<string>emoji_48</string>
	<key>[鄙视]</key>
	<string>emoji_49</string>
	<key>[委屈]</key>
	<string>emoji_50</string>
	<key>[快哭了]</key>
	<string>emoji_51</string>
	<key>[阴险]</key>
	<string>emoji_52</string>
	<key>[亲亲]</key>
	<string>emoji_53</string>
	<key>[吓]</key>
	<string>emoji_54</string>
	<key>[可怜]</key>
	<string>emoji_55</string>
	<key>[菜刀]</key>
	<string>emoji_56</string>
	<key>[西瓜]</key>
	<string>emoji_57</string>
	<key>[啤酒]</key>
	<string>emoji_58</string>
	<key>[篮球]</key>
	<string>emoji_59</string>
	<key>[乒乓]</key>
	<string>emoji_60</string>
	<key>[咖啡]</key>
	<string>emoji_61</string>
	<key>[饭]</key>
	<string>emoji_62</string>
	<key>[猪头]</key>
	<string>emoji_63</string>
	<key>[玫瑰]</key>
	<string>emoji_64</string>
	<key>[凋谢]</key>
	<string>emoji_65</string>
	<key>[嘴唇]</key>
	<string>emoji_66</string>
	<key>[爱心]</key>
	<string>emoji_67</string>
	<key>[心碎]</key>
	<string>emoji_68</string>
	<key>[蛋糕]</key>
	<string>emoji_69</string>
	<key>[闪电]</key>
	<string>emoji_70</string>
	<key>[炸弹]</key>
	<string>emoji_71</string>
	<key>[刀]</key>
	<string>emoji_72</string>
	<key>[足球]</key>
	<string>emoji_73</string>
	<key>[瓢虫]</key>
	<string>emoji_74</string>
	<key>[便便]</key>
	<string>emoji_75</string>
	<key>[月亮]</key>
	<string>emoji_76</string>
	<key>[太阳]</key>
	<string>emoji_77</string>
	<key>[礼物]</key>
	<string>emoji_78</string>
	<key>[拥抱]</key>
	<string>emoji_79</string>
	<key>[强]</key>
	<string>emoji_80</string>
	<key>[弱]</key>
	<string>emoji_81</string>
	<key>[握手]</key>
	<string>emoji_82</string>
	<key>[胜利]</key>
	<string>emoji_83</string>
	<key>[抱拳]</key>
	<string>emoji_84</string>
	<key>[勾引]</key>
	<string>emoji_85</string>
	<key>[拳头]</key>
	<string>emoji_86</string>
	<key>[差劲]</key>
	<string>emoji_87</string>
	<key>[爱你]</key>
	<string>emoji_88</string>
	<key>[NO]</key>
	<string>emoji_89</string>
	<key>[OK]</key>
	<string>emoji_90</string>
	<key>[爱情]</key>
	<string>emoji_91</string>
	<key>[飞吻]</key>
	<string>emoji_92</string>
	<key>[跳跳]</key>
	<string>emoji_93</string>
	<key>[发抖]</key>
	<string>emoji_94</string>
	<key>[怄火]</key>
	<string>emoji_95</string>
	<key>[转圈]</key>
	<string>emoji_96</string>
	<key>[磕头]</key>
	<string>emoji_97</string>
	<key>[回头]</key>
	<string>emoji_98</string>
	<key>[跳绳]</key>
	<string>emoji_99</string>
	<key>[投降]</key>
	<string>emoji_100</string>
</dict>
</plist>
