<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TK_MessageSendArg</key>
	<string>/apollo/login/message/im-message!sendMsg.action</string>
	<key>TK_MessageListByTypeArg</key>
	<string>/apollo/login/message/im-message!msgList.action</string>
	<key>TK_GetRewardByIdArg</key>
	<string>/apollo/nologin/order/postreward!postrewardDetail.action</string>
	<key>TK_SetUserInfoArg</key>
	<string>/apollo/login/user/user!modify.action</string>
	<key>TK_MessageCenterArg</key>
	<string>/apollo/login/message/message-box!msgBoxIndex.action</string>
	<key>TK_GetBuyerHomePageListArg</key>
	<string>/apollo/nologin/purchaser/purchaser!purchaserShowList.action</string>
	<key>TK_GetBuyerUserInfoArg</key>
	<string>/apollo/nologin/purchaser/purchaser!purchaserHomePage.action</string>
	<key>TK_GetUserPageDataListArg</key>
	<string>/apollo/nologin/user/user!userShowList.action</string>
	<key>TK_GetUserHomePageArg</key>
	<string>/apollo/nologin/user/user!userHomePage.action</string>
	<key>TK_GetInviteCodeArg</key>
	<string>/apollo/login/purchaser/purchaser!inviteCode.action</string>
	<key>TK_PraiseOrderArg</key>
	<string>/apollo/login/social/praise!showOrderPraise.action</string>
	<key>TK_CGetRewardListArg</key>
	<string>/apollo/nologin/order/postreward!postRewardPoolListByUser.action</string>
	<key>TK_GetOrdersArg</key>
	<string>/apollo/nologin/order/show-order!showOrderPoolListByUser.action</string>
	<key>TK_ReleaseRewardArg</key>
	<string>/apollo/login/order/postreward!release.action</string>
	<key>TK_AcceptRewardArg</key>
	<string>/apollo/login/order/postreward!accept.action</string>
	<key>TK_RewardListForBuyerArg1</key>
	<string>/apollo/login/order/postreward!postRewardSquareListByPurchaser.action</string>
	<key>TK_RewardListForBuyerArg</key>
	<string>/apollo/login/order/postreward!postRewardListByPurchaser.action</string>
	<key>TK_PayArg</key>
	<string>/apollo/login/order/pay!pay.action</string>
	<key>TK_PublishRewardArg</key>
	<string>/apollo/login/order/postreward!prePostReward.action</string>
	<key>TK_ModifyUserInfoArg</key>
	<string>/apollo/login/user!modify.action</string>
	<key>TK_ModifyPasswordArg</key>
	<string>/apollo/nologin/register!find.action</string>
	<key>TK_RegisterNewUserArg</key>
	<string>/apollo/nologin/register!register.action</string>
	<key>TK_BrandListArg</key>
	<string>/apollo/nologin/product/category!brandList.action</string>
	<key>TK_CategoryListArg</key>
	<string>/apollo/nologin/product/category!categoryList.action</string>
	<key>TK_LoginArg</key>
	<string>/apollo/nologin/login!login.action</string>
	<key>TK_VerifySMSArg</key>
	<string>/apollo/nologin/sms!send.action</string>
	<key>TK_UploadImageArg</key>
	<string>/apollo/login/upload!upload.action</string>
	<key>TKPublishShowGoodsArg</key>
	<string>/apollo/login/order/show-order!purchaserShowOrder.action</string>
</dict>
</plist>
