<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TK_ModifyUserInfoArg</key>
	<string>/apollo/login/user!modify.action</string>
	<key>TK_ModifyPasswordArg</key>
	<string>/apollo/nologin/register!find.action</string>
	<key>TK_RegisterNewUserArg</key>
	<string>/apollo/nologin/register!register.action</string>
	<key>TK_BrandListArg</key>
	<string>/apollo/nologin/product/category!brandList.action</string>
	<key>TK_CategoryListArg</key>
	<string>/apollo/nologin/product/category!categoryList.action</string>
	<key>TK_LoginArg</key>
	<string>/apollo/nologin/login!login.action</string>
	<key>TK_VerifySMSArg</key>
	<string>/apollo/nologin/sms!sms.action</string>
	<key>TK_UploadImageArg</key>
	<string>/apollo/login/upload!upload.action</string>
	<key>TKPublishShowGoodsArg</key>
	<string>/apollo/login/order/show-order!showOrder.action</string>
</dict>
</plist>
