<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TKUploadImageArg</key>
	<string></string>
	<key>TK_LoginArg</key>
	<string>/apollo/nologin/login!login.action</string>
	<key>TK_VerifySMSArg</key>
	<string>/apollo/nologin/sms!sms.action</string>
	<key>TK_UploadImageArg</key>
	<string>/apollo/login/upload!upload.action</string>
</dict>
</plist>
