<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UploadStepCountArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/sub-scheme-run!insertRunStepsRecord.action</string>
	<key>GetFoodsByDayArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/meals!loadMealsOnSchemePage.action</string>
	<key>GetSchemeDayInfoArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme!loadSchemeHomePageTop.action</string>
	<key>GetSportPageDataArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/sub-scheme-sport!getSubSchemeSportById.action</string>
	<key>UploadSportDataArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/sub-sport-record!insertSportRecord.action</string>
	<key>ModifySchemeStateArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme!startOrQuitOrOverScheme.action</string>
	<key>LoadSchemeInfoArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme!loadSchemeInfo.action</string>
	<key>GetSuggestArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme-suggest!getSuggestBySchemeId.action</string>
	<key>GetRunningDataArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/sub-scheme-run!loadRunningOnSchemePage.action</string>
	<key>GetDiaryDataByDayArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/health-diary!loadDiaryOnSchemePage.action</string>
	<key>GetSportDataByDayArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/sub-scheme-sport!loadSportOnSchemePage.action</string>
	<key>GetUserDietaryByDayArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/meals!loadUserMeals.action</string>
	<key>GetSchemeStepResultArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme!loadSchemeConclusion.action</string>
	<key>SaveDietaryInfoArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/meals!saveUserMeals.action</string>
	<key>PublishUserDiaryArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/health-diary!saveHealthDiary.action</string>
	<key>OpenSchemeByStepArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme!deblockSchemeStage.action</string>
	<key>AddSchemeScoreArg</key>
	<string>/CloudHealth/req/mobile/common/user/user-score!addSchemeScore.action</string>
	<key>BindingArg</key>
	<string>/CloudHealth/req/mobile/common/user/user-base-info!doBandDeviceId.action</string>
	<key>ReportBandArg</key>
	<string>/CloudHealth/req/mobile/common/user/user-band-run!step.action</string>
	<key>BandHistoryArg</key>
	<string>/CloudHealth/req/mobile/common/user/user-band-run!historySteps.action</string>
	<key>MainPageAdvanceSchemeArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme!loadSeniorSchemeInfo.action</string>
	<key>GetAdvanceSchemeMainPageArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme!loadSeniorSchemePage.action</string>
	<key>GetCommonProblemArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme!loadSchemeNormalQuestion.action</string>
	<key>SubSchemeHomeArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme!loadSubSchemeHomeTop.action</string>
	<key>SchemeActionsArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme!loadSubSchemeActions.action</string>
	<key>SchemePunchArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme!loadSubSchemeSign.action</string>
	<key>FinishSchemeArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme-sign!signScheme.action</string>
	<key>GetQuizSubjectArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme-test!getQuestion.action</string>
	<key>GetQuizConclusionArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme-test!getConclusion.action</string>
	<key>GiveUpQuizConclusionArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme-test!giveUpConclusion.action</string>
	<key>GetQuizSubjectAgainArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme-test!getQuestionAgain.action</string>
	<key>GetOrUpdateSchemeArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme!getOrUpdateSubScheme.action</string>
	<key>GetDiseaseIntroArg</key>
	<string>/CloudHealth/req/mobile/common/scheme/scheme!loadSchemeDetail.action</string>
	<key>HFUploadArg</key>
	<string>/CloudHealth/req/mobile/common/activity/run-activity!insertOrUpdateRunningStep.action</string>
	<key>HFActivityWindowArg</key>
	<string>/CloudHealth/req/mobile/common/activity/supernatant!showSupernatant.action</string>
	<key>HFBandRemindSetArg</key>
	<string>/CloudHealth/req/mobile/common/user/user-base-info!doSaveWristStrapSwitchByUserId.action</string>
</dict>
</plist>
